.year-name-arabic-letter {
    font-size: 4rem;
    text-align: right;
}

.calendar-row {
    --bs-gutter-x: 0.5rem;
}

.calendar-day-name {
    font-size: 22px;
}

.calendar-hijri-date {
    margin: 0;
    padding: 0;
    line-height: 1;
    white-space: nowrap;
    font-size: 30px;
    font-weight: bold;
}

.calendar-christ-date {
    margin: 0;
    padding: 0;
    line-height: 1;
    white-space: nowrap;
    font-size: 13px;
    height: 13px;
}

.calendar-pasaran-day {
    margin: 0;
    padding: 0;
    line-height: 1;
    white-space: nowrap;
    font-size: 13px;
    height: 13px;
}

@media screen and (max-width: 1200px) {
    .calendar-day-name {
        font-size: 16px;
    }

    .calendar-hijri-date {
        font-size: 22px;
    }

    .calendar-christ-date {
        font-size: 8px;
        height: 8px;
    }

    .calendar-pasaran-day {
        font-size: 8px;
        height: 8px;
    }
}

@media screen and (max-width: 992px) {
    .calendar-day-name {
        font-size: 22px;
    }

    .calendar-hijri-date {
        font-size: 28px;
    }

    .calendar-christ-date {
        font-size: 10px;
        height: 12px;
    }

    .calendar-pasaran-day {
        font-size: 10px;
        height: 12px;
    }
}

@media screen and (max-width: 768px) {
    .calendar-day-name {
        font-size: 16px;
    }

    .calendar-hijri-date {
        font-size: 22px;
    }

    .calendar-christ-date {
        font-size: 9px;
        height: 10px;
    }

    .calendar-pasaran-day {
        font-size: 9px;
        height: 10px;
    }
}

@media screen and (max-width: 576px) {
    .calendar-day-name {
        font-size: 14px;
    }

    .calendar-hijri-date {
        font-size: 22px;
    }

    .calendar-christ-date {
        font-size: 8px;
        height: 8px;
    }

    .calendar-pasaran-day {
        font-size: 8px;
        height: 8px;
    }
}

@media screen and (max-width: 500px) {
    .calendar-day-name {
        font-size: 12px;
    }

    .calendar-hijri-date {
        font-size: 20px;
    }

    .calendar-christ-date {
        font-size: 6px;
        height: 8px;
    }

    .calendar-pasaran-day {
        font-size: 6px;
        height: 8px;
    }
}